.plat-sliders {
  max-width: 100%;

  @include responsive(mobile) {
    overflow: hidden;
  }
 
  .content { 
    display: grid;
    grid-template-columns: repeat(14, 1fr);

    @include responsive(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    .portafolio-items {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;

      @include responsive(laptop) {
        grid-column: span 5;
      }

      @include responsive(tablet) {
        grid-column: span 6;
      }

      @include responsive(mobile) {
        gap: $size-4;
      }

      h2{
        color: $secondary-900;
      }

      .desc {
        color: $secondary-600;
        width: 80%;
        @extend .body-4;

        @include responsive(laptop) {
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
        }

        @include responsive(tablet) {
          width: 100%;
        }
      }

      div {
        display: flex;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include responsive(laptop) {
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 1.5rem;
          gap: 1rem;
        }
      }

      .linksText{
        cursor: pointer;

        @include responsive(laptop) {
          font-size: 0.875rem;
        }
      }

      p.body-6-bold {
        color: $secondary-900;
      }

      p.body-6 {
        color: $secondary-500;
      }
    }
    .carousel-container {
      grid-column: span 10;

      @include responsive(laptop-l){
        // overflow: hidden;
        // height: 100%;
        // padding-bottom: 65px;
      }

      @include responsive(laptop) {
        grid-column: span 8;
      }

      .swiper {
        width: 100%;
        height: auto;
        min-height: 300px;
        padding: 29px;
        box-sizing: border-box;

        @include responsive(laptop-l){
          // position: absolute;
          // right: -165px;
          // width: 75%;
        }

        @include responsive(laptop) {
          position: relative;
          right: initial;
          width: 100%;
        }

        @include responsive(mobile) {
          width: 100%;
          padding: 0;
          margin: 0;
        }

        .swiper-slide {
          text-align: center;
          border-radius: $size-5;
          background: $secondary-900;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex-wrap: nowrap;
          padding: 2rem;
          box-sizing: border-box;
          gap: $size-4;
          justify-items: center;
          height: 500px;
          opacity: 0.3;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.5s;
          box-sizing: border-box;
          background-position: center;

          .cont_ {
            width: 100%;
            max-width: 250px;
          }

          &.swiper-slide-next {
            opacity: 0.7;
          }

          &.swiper-slide-active {
            opacity: 1;
          }

          @include responsive(laptop-l){
            grid-template-rows: minmax(auto, 220px) auto auto;
          }
          @include responsive(laptop){
            grid-template-rows: minmax(auto, 220px) auto auto;
          }
          @include responsive(tablet){
            grid-template-rows: minmax(auto, 230px) auto auto;
          }

          @include responsive(mobile){
            height: 380px;
            padding: $size-5;
            grid-template-rows: minmax(auto, 180px) auto auto;
          }

          @media (max-width: 375px) {
            height: 400px;
            padding: 1rem;        
          }

          .img-card {
            display: block;
            width: 100%;
            height: auto;
            max-width: 315px;
            max-height: 250px;
            object-fit: cover;
          }

          .icon{
            width: 100%;
            display: flex;
            justify-content:space-between;
            position: relative;
            // margin-top: $size-19;
    
            
            @media (min-width: 1440px) {
              // margin-top: $size-15;
            }
    
            @include responsive(laptop-l){
              // margin-top: $size-17;
            }
    
            @include responsive(tablet){
              // margin-top: $size-15;
            }
    
            img{
              height: 7rem;
              position: relative;
              left: -25px;
    
              @include responsive(tablet){
                height: $size-15;
              }
              @include responsive(mobile){
                height: $size-13 !important;
                left: -12px;
              }
            }
    
          }

          h4{
            color: $color-white;
            text-align: left;
            margin: 0;
            width: 100%;
            margin-top: -25px;

            @extend .subtitle-4;

            @include responsive(mobile){
              font-size: 14px;
            }
          }

          ul {
            padding-left: 23px;
            margin: 0;
            li {
              color: $vulkan_secondary;
              font-size: 0.75rem;
              text-align: left;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              color: white;
              @include responsive(mobile) {
                font-size: 10px;
              }
            }
          }

          p{
            color: $color-white;
            text-align: left;
            width: 100%;

            @extend .body-4;
          }
        }

        .swiper-slide-visible:nth-child(5) {
          opacity: .6;
        }

        .swiper-slide-visible:nth-child(4) {
          @include responsive(tablet) {
            opacity: .6;
          }
        }

        .swiper-slide-visible:nth-child(2) {
          @include responsive(tablet) {
            opacity: .6;
          }
        }

        .swiper-slide-visible:nth-child(6) {
          opacity: .3;
        }

        .swiper-button-prev::after{
          display: flex;
          font-family: "Material Symbols Outlined";
          content: 'chevron_left';
          width: $size-11;
          height: $size-11;
          font-size: $size-6;
          border-radius: $size-19;
          background: $color-white;
          box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
          align-items: center;
          justify-content: center;

          @include responsive(laptop) {
            // width: 2.75rem;
            // height: 2.75rem;
          }
        }

        .swiper-button-next::after{
          display: flex;
          font-family: "Material Symbols Outlined";
          content: 'chevron_right';
          width: $size-11;
          height: $size-11;
          font-size: $size-6;
          border-radius: $size-19;
          background: $color-white;
          box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
          align-items: center;
          justify-content: center;

          @include responsive(laptop) {
            // width: 2.75rem;
            // height: 2.75rem;
          }
        }

        .swiper-button-prev, .swiper-button-next{
          overflow: visible;
          width: $size-11;
          height: $size-11;
          color: $secondary-600;
          display: inline-block;

          @include responsive(laptop) {
            position: relative;
            right: initial;
            margin-top: 30px;
          }

          @include responsive(mobile) {
            left: 0px;
          }
        }

        .swiper-button-next{
          // @include responsive(laptop-l){
          //   right: 20%;
          // }

          @include responsive(laptop) {
            position: relative;
            right: initial;
            margin-left: 1rem;
          }

          @include responsive(mobile) {
            margin-left: 13px;
          }
        }
        
      }

      @include responsive(tablet) {
        padding: 0;
      }
    }

    .slideX3{

      .swiper {
        width: 120% !important;
        padding: 0 !important;
  
        @media (max-width: 1771px) {
          width: 114% !important;
        }
  
        @include responsive(laptop-l) {
          width: 100% !important;        
        }

        @media (max-width: 1300px) {
          width: 100% !important;
        }
  
        .swiper-slide{
          opacity: 1 !important;
  
          @include responsive(tablet) {        
            &.swiper-slide-next {
              opacity: 0.7 !important;
            }
          }
  
        }
  
        .swiper-button-prev, .swiper-button-next {
          display: none !important;
  
          @media (max-width: 1200px) {
            display: inline-block !important;       
          }
        }
      }
    }
  }

  .second-button-small {
    position: relative;
    display: inline-block;
    bottom: -10px;

    @include responsive(laptop-l) {
      position: relative;
      left: 14px;
      right: 0;
      bottom: -451px;
    }

    @include responsive(laptop) {
      position: relative;
      left: 0px;
      right: 0;
      bottom: initial;
      float: right;
      margin-top: -84px;
    }

    @include responsive(tablet) {
      left: 0px;
    }

    @include responsive(mobile) {
      margin-top: -104px;
    }

  }

  .slideNone{

    @include responsive(tablet){
      display: none !important;
    }
    
    .swiper-button-prev, .swiper-button-next{
      display: none !important;
    }

    // .swiper {
    //   width: 100%;
    //   height: auto;
    //   min-height: 300px;
    //   margin-bottom: $size-6;
    //   padding: 29px;

    //   @include responsive(laptop-l){
    //     position: relative !important;
    //     right: 30px !important;
    //     width: 90% !important;
    //     padding: 0px !important;
    //   }
    // }
  }

  .noSliderMobile{
    display: none;

    @include responsive(tablet){
     display: flex;
     flex-direction: column;
     gap: $size-5;
    }

     .cardMobile{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: $size-5;
        padding: $size-6 $size-5;

        .icon{

          position: relative;
          top: 30px;
          left: -20px;

          @include responsive(mobile){
            top: 40px;
            left: -20px;
          }
          
          img{
            height: 5rem;
          }
        }

        h4{
          color: $color-white;
          font-size: 0.875rem;
          font-weight: 600;
        }

        p{
          color: $color-white;
          font-size: 0.625rem;
        }
    }
  }
  
  &.single-slide {
    .content {
      max-width: 49.815rem;
      display: flex;
      gap: 4.19rem;
      flex-direction: row-reverse;

      @include responsive(tablet) {
        flex-direction: column;
        gap: $size-5;
        align-items: center;
      }

      .portafolio-items {
        div {
          display: none;
        }
      }

      .carousel-container {
        max-width: 22.8125rem;
        width: 100%;

        .swiper {
          min-height: 31.25rem;
          padding: 0;
          max-width: 100%;
          
          @include responsive(mobile) {
            min-height: fit-content;
          }

          .swiper-button-lock {
            display: none;
          }

          .swiper-slide {
            @include responsive(mobile) {
              width: 100% !important;
              margin: 0;
              height: fit-content;
              min-height: 17.5rem;
            }

            ul {
              li {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 140%;

                @include responsive(mobile) {
                  font-size: 0.625rem;
                }
              }
            }
          }
        }
      }
    }
  }
}