@use '../abstracts/colors.scss' as *;
@use '../core/mixins.scss' as *;
@use '../core/variables.scss' as *;

// * {
//   // font-weight: 400;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
//   font-family: "Plus Jakarta Sans", sans-serif;
//   color: $secondary-900;

//   a {
//     color: $info-700;
//   }
// }

// para los banners
.title-banner {
  font-size: 4rem;
  font-weight: 600;
  color: $color-white;

  @include responsive(mobile) {
    font-size: 2.25rem;
    line-height: normal;
  }
}

.description-banner {
  width: 100%;
  font-size: 1.0625rem;
  font-weight: 400;
  max-width: 900px;
  color: $color-white;
  line-height: 140%;

  @include responsive(mobile) {
    font-size: 0.75rem;
    font-style: normal;
    line-height: 140%;
  }
}
.description-banner-2 {
  margin-top: 0px !important;
}
.banner-buttons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $size-4;
  @include responsive(mobile) {
    margin: $size-6 0px $size-6 0px;
    flex-direction: column;
    width: 100% !important;
    a {
      width: 100% !important;
      button {
        width: 100% !important;
      }
    }
  }
}

p {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-weight: 600;
  font-size: 3.1875rem;
  margin: 0;
  line-height: 100%;

  @include responsive(mobile) {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 120%;
  }
}

h3 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0;

  @include responsive(mobile) {
    font-size: 1.375rem;
    font-weight: 600;
  }
}

.subtitle-1 {
  font-weight: 600;
  font-size: 2.25rem;
}

.subtitle-2 {
  font-weight: 600;
  font-size: 26px;
}

.subtitle-3 {
  font-weight: 600;
  font-size: 22px;
}

.subtitle-4 {
  font-size: 1.0625rem;
  font-weight: 400;

  @include responsive(mobile) {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.body-1 {
  font-weight: 400;
  font-size: 26px;
}

.body-1-bold {
  font-weight: 600;
  font-size: 26px;
}

.body-2 {
  font-weight: 400;
  font-size: 21px;
}

.body-2-bold {
  font-weight: 600;
  font-size: 1.375rem;
}

.body-3 {
  font-weight: 400;
  font-size: 1.375rem;
}

.body-3-bold {
  font-weight: 600;
  font-size: 1.375rem;

  @include responsive(mobile) {
    font-size: 0.875rem;
    line-height: 120%;
  }
}

.body-4 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;

  @include responsive(mobile) {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.body-4-bold {
  font-weight: 600 !important;
  font-size: 0.875rem !important;

  @include responsive(mobile) {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 120%;
  }
}

.body-5 {
  font-weight: 400;
  font-size: 0.625rem;
}

.body-5-bold {
  font-weight: 600;
  font-size: 0.625rem;
}

.body-6 {
  font-size: 1.0625rem;
  font-weight: 400;
}

.body-6-bold {
  font-size: 1.0625rem;
  font-weight: 600;
}

.link-1 {
  font-weight: 400;
  font-size: 26px;
  text-decoration: underline;
}

.link-2 {
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  text-decoration: underline;
}

.link-3 {
  font-weight: 600;
  font-size: 1.0625rem;
  text-decoration: underline;
}

.link-4 {
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: underline;
}

.link-5 {
  font-weight: 400;
  font-size: 0.75rem;
  text-decoration: underline;
}

.link-6 {
  font-weight: 400;
  font-size: 0.6875rem;
  text-decoration: underline;
}

.caption {
  font-weight: 400;
  font-size: 0.75rem;
  text-decoration: underline;
}

.caption-1 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.caption-1-bold {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.caption-2 {
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.caption-2-bold {
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.caption-bold {
  font-weight: 700 !important;
  font-size: 0.75rem !important;
  text-decoration: none;
}

.heading-h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.03125rem;
}

.heading-h3 {
  font-size: 3.1875rem;
  font-style: normal;
  font-weight: 600;
}

.overline-1 {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
}

.heading-h4 {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}
