// Variables
$basic-shadow: 0rem 1.125rem 2rem 0rem rgba(21, 32, 42, 0.05);

//Sizes standar with cabinet
$size-1: 0.25rem; // 4px
$size-2: 0.5rem; // 8px
$size-3: 0.75rem; // 12px
$size-4: 1rem; // 16px
$size-5: 1.25rem; // 20px
$size-6: 1.5rem; // 24px
$size-7: 1.75rem; // 28px
$size-8: 2rem; // 32px
$size-9: 2.25rem; // 36px
$size-10: 2.5rem; // 40px
$size-11: 2.75rem; // 44px
$size-12: 3rem; // 48px
$size-13: 3.5rem; // 56px
$size-14: 4rem; // 64px
$size-15: 5rem; // 80px
$size-16: 6rem; // 96px
$size-17: 7rem; // 112px
$size-18: 8rem; // 128px
$size-19: 9rem; // 144px
$size-20: 10rem; // 160px
$size-21: 11rem; // 176px
$size-22: 12rem; // 192px
$size-23: 13rem; // 208px
$size-24: 14rem; // 224px
$size-25: 15rem; // 240px
$size-26: 16rem; // 256px
