.galllery {

    &::before {
        content: " ";
        position: absolute;
        background-image: url(/images/gallery/Careers-Gradient-2.png);
        background-size: 100% 100%;
        width: 70%;
        left: 0;
        height: 112.06025rem;
        margin-top: -864px;

        @include responsive(mobile) {
            background-size: 137% 100%;
            width: 100%;
            left: 0;
            height: 97.06025rem;
            background-position: left;
            margin-top: -950px;
        }
    }

    .title {
        margin-bottom: 2.25rem;
        display: flex;
        gap: $size-6;
        flex-direction: column;
        position: relative;
        z-index: 1;

        @include responsive(mobile) {
            gap: $size-4;
            margin-bottom: $size-4;
        }

        p, h2 {
            text-align: center;

            @include responsive(mobile) {
                text-align: left;
            }
        }
    }

    .gallery-item {
        background-size: cover;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.3s;
        border-radius: 1.25rem;
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        background-position: center;

        @include responsive(mobile) {
            border-radius: 0.72581rem;
        }
    
        img {
            width: 100%;
            display: block;
            aspect-ratio: 1;
    
            @media (max-width: 768px) {
                flex: 1 1 calc(50% - 20px);
            }
        }
    
        .gallery-caption {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            background: linear-gradient(180deg, rgba(21, 32, 42, 0) 0%, #15202A 87.4%);
            width: 100%;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cont {
                display: flex;
                width: 100%;
                padding: 1rem 1.5rem;
                justify-content: space-between;
                align-items: center;

                @include responsive(mobile) {
                    padding: 0.5rem;
                }
            }
    
            p, h2 {
                color: white;
                display: none;
            }

            h2 {
                @include responsive(mobile) {
                    font-size: 0.875rem;
                }
            }

            p {
                @include responsive(mobile) {
                    font-size: 0.6875rem;
                }
            }

            span {
                display: flex;
                width: 2.5rem;
                height: 2.5rem;
                justify-content: center;
                align-items: center;
                background: white;
                border-radius: 50%;
                color: $secondary-900;

                @include responsive(mobile) {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    
    .modal {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    
        .modal-content {
            display: flex;
            margin: auto;
            padding: 0 65px;
            max-width: 100%;
            border-radius: 10px;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            gap: 1rem;
    
            @media (max-width: 768px) {
                flex-direction: column;
                padding: 0 15px;
            }
    
            .modal-left {
                display: flex;
                width: 100%;
                justify-content: center;
                max-width: 53.5rem;
                position: relative;
                
                img {
                    max-width: 100%;
                    height: auto;
                    float: left;
                    border-radius: 10px;
                    width: 100%;
                }
            }
    
            .modal-right {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: white;

                .text {
                    display: flex;
                    gap: 1rem;

                    p:first-child {
                        display: none;
                    }
                }
    
                @media (max-width: 768px) {
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;
                }

                p {
                    color: white;
                }
    
                .nav-btn {
                    overflow: visible;
                    width: $size-11;
                    height: $size-11;
                    color: $secondary-600;
                    display: inline-block;
                    margin-bottom: 10px;
                    background: transparent;
                    display: flex;
                    border: none;
                    width: $size-11;
                    height: $size-11;
                    padding: 0;
                    margin: 0;
                
                    @include responsive(laptop) {
                        position: relative;
                        right: initial;
                    }

                    &::after{
                        display: flex;
                        font-family: 'Material Symbols Outlined';
                        content: 'chevron_left';
                        width: $size-11;
                        height: $size-11;
                        font-size: $size-6;
                        border-radius: $size-19;
                        background: $color-white;
                        box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
                        align-items: center;
                        justify-content: center;
                
                        @include responsive(laptop) {
                          width: 2.75rem;
                          height: 2.75rem;
                        }
                    }

                    &.next::after {
                        content: 'chevron_right';
                    }
                
                }
                
                .nav-btn:hover {
                    background-color: #555;
                }

                .btn {
                    position: absolute;
                    width: 98%;
                    left: 50%;
                    display: flex;
                    justify-content: space-between;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    max-width: 60.5rem;

                    @include responsive(tablet) {
                        position: relative;
                        transform: none;
                        gap: 1rem;
                        top: auto;
                        left: auto;
                        justify-content: center;
                    }
                }
            }
        }
        .close {
            border-radius: 50%;
            position: absolute;
            top: -15px;
            right: 30px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            background: black;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -35px;

            @include responsive(tablet) {
                top: -42px;
                right: 0px;
                width: 1.2rem;
                height: 1.2rem;
            }

            span {
                color: white;
                font-size: 1rem;
            }
        }
    }

    .swiper {
        padding: 0 4rem;

        @include responsive(laptop) {
            padding: 0;
        }

        .swiper-slide {
            opacity: 0;
            transform: translate3d(0px, 30px, 0px);
            transition: all 0.5s;
        }

        .swiper-slide-active, .swiper-slide-next, .swiper-slide-next + * {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
    
    .swiper-button-prev{
        left: 0px;
    
        @include responsive(laptop) {
          
        }
    
        &::after{
            display: flex;
            font-family: 'Material Symbols Outlined';
            content: 'chevron_left' !important;
            width: $size-11;
            height: $size-11;
            font-size: $size-6;
            border-radius: $size-19;
            background: $color-white;
            box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
            align-items: center;
            justify-content: center;
    
            @include responsive(laptop) {
              width: 2.5rem;
              height: 2.5rem;
            }
        }
    }

    .swiper-pagination {
        display: none;
    }
    
    .swiper-button-next{
        left: initial !important;
        right: 0px;
    
        @include responsive(laptop) {
          left: 25px !important;
        }
    
        &::after{
            display: flex;
            font-family: 'Material Symbols Outlined';
            content: 'chevron_right' !important;
            width: $size-11;
            height: $size-11;
            font-size: $size-6;
            border-radius: $size-19;
            background: $color-white;
            box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
            align-items: center;
            justify-content: center;
    
            @include responsive(laptop) {
              width: 2.5rem;
              height: 2.5rem;
            }
        }

        @include responsive(laptop) {
            left: 12px !important;
          }
    }
    
    .swiper-button-prev, .swiper-button-next{
        overflow: visible;
        width: $size-11;
        height: $size-11;
        color: $secondary-600;
        display: inline-block;
        margin-bottom: 10px;
    
        @include responsive(laptop) {
          position: relative;
          right: initial;
          margin-top: 30px;
          margin-bottom: 25px;
        }
    
        @include responsive(mobile) {
            width: 2.5rem;
            height: 2.5rem;
          
        }
    }

    .swiper-button-lock {
        display: none;
    }
}

[lang="ar"] .galllery {
    .swiper-button-prev {
        right: 0 !important;
        
        &::after{
            content: 'chevron_right' !important;
        }
    }
    .swiper-button-next {
        left: 0 !important;

        &::after{
            content: 'chevron_left' !important;
        }

        @include responsive(laptop) {
            left: -10px !important;
        }
    }
    .title p, .title h2 {
        @include responsive(tablet) {
            text-align: right;
        }
    }
    .modal .modal-content .modal-right .nav-btn::after {
        content: 'chevron_right';
    }
    .modal .modal-content .modal-right .nav-btn.next::after {
        content: 'chevron_left' !important;
    }
}
