.about-page {

    .banner-contact {
        background-image: var(--back);
    
        @include responsive(tablet) {
          background-image: var(--back2);
        }
      }

    .margin-top::before{
        content: " ";
        position: absolute;
        background-image: var(--degrade);
        background-size: 100% 100%;
        width: 90%;
        height: 1750px;
        right: 0;
        margin-top: -386px;
        z-index: 0;
    
        @include responsive(mobile) {
          width: 200%;
          height: 1350px;
          margin-top: -800px;
          background-position: center;
        }
    }

    .forex_tradeview {
        z-index: 1;
    }

    .forex_tradeview {
        display: grid;
        grid-template-columns: 1fr 55%;
        gap: 4.75rem;
        max-width: 70rem;
        margin: auto;

        @include responsive(tablet) {
            grid-template-columns: 1fr;
        }

        @include responsive(mobile) {
            gap: 1.5rem;
        }

        .accordeon .accordeon-box  {
            .box .box-content {
                align-items: flex-start;  

                .box-icon .icon {
                    background: $secondary-50;
                }
            }
            .activeOption {
                background: white;
            }
        }
    }
}