.forex-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16.5rem;
  overflow: hidden;

  @include responsive(tablet) {
    gap: 8rem;
  }

  .accordeon .accordeon-box .box .banner-contact {
    .img_ {
      height: 100%;
    }
  }

  .banner-big {
    padding: 40px 0px;

    @include responsive(mobile) {
      padding: 5rem 0 1rem;
    }

    .margin-general {
      .content {
        .text_ {
          h1 {
            @include responsive(mobile) {
              max-width: 222px;
            }
          }

          .group-1 {
            @include responsive(mobile) {
              display: none !important;
            }
          }
        }
        .img_ {
          display: flex;
          justify-content: flex-end;
          @include responsive(mobile) {
            width: 100%;
          }
          img {
            max-width: 100%;

            @include responsive(mobile) {
              width: 120%;
            }
          }
          .group-2 {
            display: none !important;
            @include responsive(mobile) {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  .forex_tradeview {
    margin-top: -140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-10;

    &::before {
      content: " ";
      position: absolute;
      background-image: url(/images/Forex-Gradient-1.png);
      background-size: 100% 100%;
      width: 100%;
      height: 105.41719rem;
      left: 0;
      z-index: -1;
    }

    @include responsive(tablet) {
      margin-top: 0;
      grid-template-columns: 1fr;
    }

    .forex_tradeview_text {
      .body-4 {
        margin-top: $size-4;
        color: $secondary-600;
      }
    }

    @include responsive(mobile) {
      &::before {
        background-size: cover;
        height: 81.41719rem;
      }
    }
  }

  .find_forex {
    .text {
      text-align: center;
      width: 65%;
      margin: auto;

      @include responsive(tablet) {
        width: 100%;
      }

      .desc1 {
        margin-top: $size-8;
        color: $secondary-600;
      }

      .desc2 {
        margin-top: $size-5;
      }

      @include responsive(mobile) {
        p.body-4 {
          margin-top: $size-4;
        }

        padding: 0 $size-4;
        width: fit-content;
      }
    }
  }

  .path_market {
    &::before {
      content: " ";
      position: absolute;
      background-image: url(/images/Forex-Gradient-2.png);
      background-size: 100% 100%;
      width: 100%;
      height: 105.41719rem;
      left: 0;
      z-index: -1;
    }

    .text {
      text-align: center;

      p {
        margin-top: $size-6;
      }
    }

    .cardsOptions {
      margin-top: $size-8;
    }

    .path_check {
      margin-top: $size-5;
      text-align: center;

      a {
        color: $info-700;
      }
    }

    .buttons {
      margin-top: $size-8;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include responsive(mobile) {
      &::before {
        background-size: cover;
        background-position: left;
      }
    }
  }

  .accordeon {
    .accordeon-box {
      .box {
        .box-content {
          .box-text {
            p.body-4 {
              color: $secondary-600;
            }
          }
        }
      }
    }
  }

  @include responsive(mobile) {
    .find_forex {
      display: flex;
      flex-direction: column;
      gap: $size-5;
      margin: 0;
      max-width: 100% !important;
    }

    .select-custom {
      label {
        display: none;
      }

      .select-content {
        .select-toggle {
          padding: $size-4;
          align-items: center;
          gap: $size-1;
          align-self: stretch;
        }
      }
    }

    .tabsPlatform-content {
      max-width: 100% !important;
    }
  }
}

.commo-indices-page {

  &::before {
    content: "";
    position: absolute;
    background-image: url(/images/commodities/3.Commodities-Gradient1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 105.41719rem;
    left: 0;
    z-index: -1;
    top: 9%;
    background-position: center;

    @include responsive(mobile) {
      background-size: cover;
      height: 51.41719rem;
      top: 15%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(/images/commodities/6.Commodities-Gradient3.png);
    background-size: 100% 100%;
    width: 100%;
    height: 105.41719rem;
    left: 0;
    z-index: -1;
    bottom: 3%;

    @include responsive(mobile) {
      background-size: cover;
      height: 88.41719rem;
      bottom: 7%;
    }
  }

  .banner-big {
    @include responsive(mobile) {
      background-image: url(/images/commodities/back-mobil.png) !important;
    }

    .margin-general .content {

      .text_ h1 {
        max-width: 100%;
      }
      
      .img_ img {
        @include responsive(mobile) {
          width: 100%;
        }
      }
    }
  }

  &.var_ind {
    &::before {
  
      @include responsive(mobile) {
        background-size: cover;
        height: 51.41719rem;
        top: 38%;
      }
    }
  
    &::after {
  
      @include responsive(mobile) {
        background-size: cover;
        height: 88.41719rem;
        bottom: 7%;
      }
    }
  
    .banner-big {
      @include responsive(mobile) {
        background-image: url(/images/indices/back-mobil.png) !important;
      }
    }
  }

  .rigth_position {
    .content {
      grid-template-areas: "imagen contenido";
      grid-template-columns: 50% 1fr;
      column-gap: 7.4375rem;

      .content-img {
        grid-area: imagen;

        img {
          @include responsive(tablet) {
            max-width: 16rem;
          }
        }
      }
      
      .content-text {
          grid-area: contenido;
      }
    }
  }

  .to-start {
    h3 {
      margin-bottom: 1.65rem;
      max-width: 100%;
    }
    p {
      max-width: 450px;
    }

    h3, p {
      @include responsive(tablet) {
        display: none;
      }
    }
    ul {
      gap: 2rem !important;

      strong {
        font-weight: bold;
      }
    }

    img {
      margin: 0 !important;
    }

    .content-img {
      p, h3 {
        display: none;
  
        @include responsive(tablet) {
          display: block !important;
          margin-bottom: 1.25rem;
        }

        @include responsive(mobile) {
          margin-bottom: 0rem;
        }
      }
    }

    .content {
      .content-text {
        p {
          margin: 0;
          display: block;

          strong {
            font-weight: bold;
          }
        }
      }
    }

    &.min_cont {
      .content {
        display: flex;
        align-items: center;
        column-gap: 7.3125rem;

        .content-img {

          @include responsive(tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
  
          img {
            @include responsive(tablet) {
              max-width: 16rem;
            }
          }
        }

        .content-text {
          max-width: 27rem;
        }
      }
    }
  }

  .none_img {
    .content {
      max-width: 50.3rem;
      gap: 0.75rem;
      grid-template-columns: 1fr 63%;

      .content-img {
        img {
          display: none;
        }
        h3 {
          display: block;
        }
      }
      .content-text {
        h3 {
          display: none;
        }
      }
    }
  }

  .list-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-8;
    max-width: 1050px;
    margin: auto;

    .btn2 {
      display: none;

      @media (max-width: 991px) {
        display: block;
        width: fit-content;
        margin: auto;
      }
    }

    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }

    .title_descript {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $size-10;
      justify-content: center;

      @media (max-width: 991px) {
        a {
          display: none;
        }

        h2 {
          width: 95%;
          margin: auto;
          text-align: center;
        }
      }
    }

    .cont_list {
      display: flex;
      padding: $size-10;
      flex-direction: column;
      align-items: flex-start;
      gap: $size-6;
      border-radius: $size-5;
      border: 1px solid $secondary-50;
      background:white;

      @include responsive(mobile) {
        padding: 1.5rem;
        gap: $size-3;

        @media (max-width: 375px) {
          padding: 1.2rem;
        }
      }

      .title, .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $size-1;
        width: 100%;
        align-items: end;
      }

      .title {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid #ecf1f7;

        @include responsive(mobile) {
          padding-bottom: $size-3;
        }

        p {
          @include responsive(mobile) {
            font-size: 0.625rem;
          }
        }
      }

      .list {
        p {
          @include responsive(mobile) {
            font-size: 0.5625rem;
          }
        }
      }
    }
  }
}
