.futures-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16.5rem;
  overflow: hidden;

  .banner-big {
    @include responsive(mobile) {
      padding: 5rem 0 1rem;
    }
    
    .margin-general {
      .content {
        .text_ {
          .group-1 {
            @include responsive(mobile) {
              display: none !important;
            }
          }
        }
        .img_ {
          display: flex;
          justify-content: flex-end;
          @include responsive(mobile) {
            width: 100%;
          }
          img {
            width: 100%;
          }
          .group-2 {
            display: none !important;
            @include responsive(mobile) {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  @include responsive(tablet) {
    gap: 8rem;
  }

  .banner-contact .descript_ {
    max-width: 600px;
  }

  .forex_tradeview {
    margin-top: -140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-10;

    &::before {
      content: " ";
      position: absolute;
      background-image: url(/images/Futures-Gradient-1.png);
      background-size: 100% 100%;
      width: 100%;
      height: 105.41719rem;
      left: 0;
      z-index: -1;
    }

    @include responsive(tablet) {
      margin-top: 0;
      grid-template-columns: 1fr;
    }

    .forex_tradeview_text {
      .body-4 {
        margin-top: $size-4;
      }
    }

    @include responsive(mobile) {
      &::before {
        background-size: cover;
        background-position: center;
        background-position: right;
        margin-top: 70%;
      }
    }
  }

  .find_forex {
    .text {
      text-align: center;
      width: 65%;
      margin: auto;

      @include responsive(tablet) {
        width: 100%;
      }

      .desc1 {
        margin-top: $size-8;
      }

      .desc2 {
        margin-top: $size-5;
      }

      @include responsive(mobile) {
        p.body-4 {
          margin-top: $size-4;
        }

        padding: 0 $size-4;
        width: fit-content;
      }
    }

    .tabsPlatform-content .buttonsContainer .buttonItem {
      padding: 1.75rem .5rem;
    }
  }

  .plat-sliders .content .carousel-container .swiper { 
    .swiper-button-lock {
      display: none !important;
    }
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }

  .plat-sliders .content .carousel-container .swiper .swiper-slide.swiper-slide-next {
    opacity: 1;
  }

  .path_market {
    &::before {
      content: " ";
      position: absolute;
      background-image: url(/images/Futures-Gradient-2.png);
      background-size: 100% 100%;
      width: 100%;
      height: 123.41719rem;
      left: 0;
      z-index: -1;
      margin-top: 0%;
    }

    .text {
      text-align: center;

      p {
        margin-top: $size-6;
      }
    }

    .cardsOptions {
      margin-top: $size-8;
      .card {
        display: flex;
        flex-direction: column;
      }
    }

    .path_check {
      margin-top: $size-5;
      text-align: center;

      a {
        color: $info-700;
      }
    }

    .cont_diclaimer {
      width: 100%;
      margin-top: $size-5;
      
      .disclaimer {
        width: 80%;
        margin: auto;
        margin-top: $size-4;
        text-align: center;
        color: $secondary-300 !important;
        margin: 0 auto;
        text-align: center;

        @include responsive(tablet) {
          width: 100%;
        }

        @include responsive(mobile) {
          font-size: 0.625rem;
        }
      }
    }

    .buttons {
      margin-top: $size-8;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include responsive(mobile) {
      &::before {
        margin-top: -30%;
        background-size: cover;
        background-position: left;
        height: 115.41719rem;
      }
    }
  }

  .tradingCond {
    h2.title {
      text-align: center;
    }

    p.desc1 {
      text-align: center;
      margin-top: $size-6;

      @include responsive(mobile) {
        width: 80%;
        margin: auto;
        margin-top: $size-6;
      }
    }

    .containerOpt {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 2.75rem 5.75rem;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 1.25rem;
      border: #fff;
      background: #ecf1f7;
      margin-top: $size-8;
      gap: $size-6;
      flex-wrap: wrap;
      justify-items: center;

      @include responsive(laptop) {
        padding: 2.75rem 2.75rem;
      }

      @include responsive(tablet) {
        flex-direction: column;
        padding: 1.5rem 1.875rem;
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 0;
      }

      .opt {
        @include responsive(tablet) {
          display: grid;
          grid-template-columns: 4.5rem auto;
          gap: $size-2;
        }

        @include responsive(tablet) {
          grid-template-columns: 3rem auto;
        }
      }

      .icon {
        max-width: $size-13;
        width: 100%;
        height: $size-13;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        border-radius: 50%;

        @include responsive(mobile) {
          max-width: $size-10;
          width: 100%;
          height: $size-10;
        }
      }

      p.subtitle {
        font-size: 1.0625rem;
        margin-top: $size-4;
        color: #15202a;
        width: 200px;

        @include responsive(tablet) {
          margin: 0;
          width: 100%;
        }

        @include responsive(mobile) {
          margin-top: 0px;
          font-size: 0.75rem;
          width: auto;
        }
      }

      .desc-opt {
        font-size: 0.875rem;
        color: #43586b;
        margin-top: $size-4;
        margin-bottom: $size-8;
        width: 200px;
        height: 30px;

        @include responsive(tablet) {
          margin: 0;
          margin-top: $size-1;
          width: 100%;
        }

        @include responsive(mobile) {
          margin-top: $size-2;
          margin-bottom: 0;
          font-size: 0.625rem;
          width: auto;
        }
      }

      a {
        font-size: 0.875rem;
        color: #155eef;

        @include responsive(mobile) {
          font-size: 0.6875rem;
        }
      }
    }

    @include responsive(mobile) {
      max-width: 100% !important;
    }
  }



  @include responsive(mobile) {
    .find_forex {
      display: flex;
      flex-direction: column;
      gap: $size-5;
      margin: 0;
      max-width: 100% !important;
    }

    .select-custom {
      label {
        display: none;
      }

      .select-content {
        .select-toggle {
          padding: $size-4;
          align-items: center;
          gap: $size-1;
          align-self: stretch;
        }
      }
    }

    .tabsPlatform-content {
      max-width: 100% !important;
    }
  }
  .plat-sliders {
    .content {
      grid-template-columns: repeat(12, 1fr);
      .portafolio-items {
        grid-column: span 4;
      }
      .carousel-container {
        grid-column: span 8;
        .swiper {
          .swiper-slide {
            ul {
              li {
                font-size: 0.875rem;

                @include responsive(mobile) {
                  font-size: 0.625rem;
                }
              }
            }
          }
          .swiper-slide {
            .icon {
              img {
                height: 8rem;

                @include responsive(mobile) {
                  height: 6rem;
                }
              }
            }
          }
        }
      }
      @include responsive(laptop-l) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  } 

  @include responsive(mobile) {
    .plat-sliders {
      .swiper-wrapper {
        flex-direction: column;
        gap: 2rem;
        pointer-events: none;
      }
      .content {
        .carousel-container {
          .swiper {
            .swiper-slide {
              width: 100% !important;
              height: 330px;
            }
          }
        }
      }
    }
  }
}

.date-commisions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-4 !important;
  max-width: 26.4rem;
  width: 100%;
  margin: auto;
  margin-top: 1.25rem;

  .title {
    @include responsive(mobile) {
      font-size: 1.0625rem;
    }
  }

  .card-cont {
    display: flex;
    align-items: flex-start;
    gap: $size-6;

    @include responsive(mobile) {
      gap: $size-4;
      width: 100%;
    }

    @media (max-width: 375px) {
      gap: 0.5rem;
    }

    .card {
      display: flex;
      padding: $size-8;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $size-6 !important;
      border-radius: 1.1875rem !important;
      border: 1px rgba(255, 255, 255, 0.42);
      background: linear-gradient(156deg, rgba(255, 255, 255, 0.42) 10.28%, rgba(255, 255, 255, 0.00) 106.66%);
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(20px);
      text-align: center;
      min-height: fit-content !important;

      @include responsive(mobile) {
        padding: $size-4;
        gap: $size-3 !important;
        flex: 1 0 0;
        align-self: stretch;
      }

      @media (max-width: 375px) {
        padding: $size-4 0.5rem;
      }

      p.body-4-bold {
        @include responsive(mobile) {
          font-size: 0.6875rem !important;
          letter-spacing: -0.5px;

          @media (max-width: 375px) {
            letter-spacing: -0.8px;
          }
        }
      }

      p.caption-1 {
        @include responsive(mobile) {
          font-size: 0.625rem !important;
          letter-spacing: -0.5px;
          @media (max-width: 375px) {
            letter-spacing: -0.8px;
          }
        }
      }

      span {
        color: $secondary-900;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 100%;

        @include responsive(mobile) {
          font-size: 1.375rem;
        }
      }
    }
  }

  .disclaimer {
    color: $secondary-900 !important;
    text-align: center;
  }
}

