.login-page{
  background: url(/images/gradient-login.png);
  background-size: 100% auto;

  .content{
    padding-top: 71px;
    padding-bottom:100px;

    @include responsive(mobile) {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0;
    }
    .content-login{
      display: grid;
      grid-template-columns: 55% 1fr;
      gap: 34px;
      border-radius: $size-5;
      background: linear-gradient(114deg, rgba(228, 228, 228, 0.14) 7.85%, rgba(251, 251, 251, 0.06) 90.19%);
      box-shadow: 25px 29px 26px -18px rgba(31, 26, 64, 0.02) inset, 23px 13px 27px 0px rgba(60, 58, 75, 0.10);
      backdrop-filter: blur(12.5px);
      padding: 47px 42px 68px;
      align-items: center;

      @include responsive(laptop) {
        grid-template-columns: 45% 1fr;
      }

      @include responsive(tablet) {
        grid-template-columns: 1fr;
      }

      @include responsive(mobile) {
        padding: 15px 15px;
      }

      .content-desc{
        .icons{
          display: grid;
          grid-template-columns: repeat(3, 96px);
          gap: 56px;
          margin-top: 32px;
          width: fit-content;

          @include responsive(mobile) {
            grid-template-columns: repeat(3, auto);
            gap: 18px;
          }

          .item-icon{
            img{
              width: $size-13;
              height: $size-13;
              margin-bottom: 12px;

              @include responsive(mobile) {
                width: $size-10;
                height: $size-10;
              }
            }

            p{

            }
          }
        }
      }

      .form{
        display: inline-flex;
        padding: $size-13 $size-11;

        flex-direction: column;
        align-items: center;
        gap: $size-9;
        border-radius: var(--Size-5, 1.25rem);

        border: 1px solid $secondary-50;
        background: $color-white;

        @include responsive(mobile) {
          padding: $size-8 $size-6;
          gap: $size-5;
        }

        .text-form{
          display: flex;
          flex-direction: column;
          gap: $size-6;

          .error-msg{
            display: flex;
            color: $error-700;
            gap: $size-1;
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 400;
            align-items: center;
            margin-top: -17px;

            span{
              color: $error-700;
              font-size: 0.625rem;
            }
          }

        }
        .primary-button-medium{
          @include responsive(mobile) {
            width: 100%;
            padding: $size-4;
            font-size: 0.875rem;
            min-height: initial;
          }
        }
      }
    }
  }

  .select-custom {
    .select-content {
      .select-options {
       width: 100%;
      }
    }
  }
}

[lang="ja"] {
  .login-page .content .content-login .form span.body-4 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
  }
}