.multi-mam-page {

  .vulkan-banner-content {
    background-image: var(--back);

    @include responsive(tablet) {
      background-image: var(--back2);
    }
  }
  
  .margin-top::before{
    content: " ";
    position: absolute;
    background-image: var(--degrade);
    background-size: 100% 100%;
    width: 90%;
    height: 1550px;
    right: 0;
    margin-top: -386px;
    z-index: 0;

    @include responsive(tablet) {
      width: 100%;
      height: 1650px;
    }

    @include responsive(mobile) {
      width: 200%;
      height: 1350px;
      margin-top: -300px;
      background-position: center;
    }
  }

  .benefits-content.margin-general{
    z-index: 1;
    &::before{
      content: " ";
      position: absolute;
      background-image: url(/images/multi_mam/MAM-Gradient.png);
      background-size: 100% 100%;
      width: 70%;
      height: 1738px;
      right: 0;
      margin-top: -700px;
      z-index: -1;

      @include responsive(laptop) {
        width: 75%;
        height: 1538px;
        right: 0;
        margin-top: -513px;
      }

      @include responsive(tablet) {
        width: 75%;
        height: 1538px;
        right: 0;
        margin-top: -513px;
      }

      @include responsive(mobile) {
        width: 157%;
        height: 1538px;
        right: 0;
        left: -153px;
        margin-top: -480px;
      }
    }
  }

  .cont_ToStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.6875rem;

    .title_ {
      text-align: center;
      max-width: 810px;
    }

    .cont_ {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7.75rem;
    }
  }

  .rigth_position {
    .content {
      grid-template-areas: "imagen contenido";
      grid-template-columns: 1fr 50%;

      .content-img {
        grid-area: imagen;
      }
      
      .content-text {
          grid-area: contenido;
      }
    }
  }

  .to-start {
    h3 {
      margin-bottom: 1.65rem;
      max-width: 310px;
    }
    p {
      max-width: 450px;
    }

    h3, p {
      @include responsive(tablet) {
        display: none;
      }
    }
    ul {
      gap: 2rem !important;

      strong {
        font-weight: bold;
      }
    }

    img {
      margin: 0 !important;
    }

    .content-img {
      p, h3 {
        display: none;
  
        @include responsive(tablet) {
          display: block !important;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

[lang="ja"] .multi-mam-page {
  &::before {
    content: " ";
    position: absolute;
    background-image: url(/images/multi_mam/MAM-Gradient.png);
    background-size: 100% 100%;
    width: 70%;
    height: 1722px;
    right: 0;
    margin-top: 55rem;
    z-index: -1;

    @include responsive(tablet) {
      background-size: cover;
      width: 100%;
      background-position: right;
      z-index: -1;
      margin-top: 68rem;
    }
  }

  .cont_ToStart {
    margin-bottom: 15rem;
  
    @include responsive(tablet) {
      margin-bottom: 8.5rem;
    }
  }
} 
