.regulation-page {
  display: flex;
  gap: $size-25;
  flex-direction: column;

  @include responsive(mobile) {
    gap: 8.5rem;
  }
  .banner-contact {
    @include responsive(mobile) {
      background-image: url(/images/regulation/A&R-Hero-Mobile.png) !important;
      background-size: 100% 160%;
      background-position-y: bottom;
    }
    .container {
      display: grid;
      grid-template-columns: 55% 1fr;
      align-items: center;
      padding: 70px 0;

      @include responsive(tablet) {
        grid-template-columns: 1fr;
      }

      @include responsive(mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
        padding-bottom: 0;
      }
    }

    .descript_ {
      max-width: 550px;
      width: 100%;
    }

    .img_ {
      width: 118%;

      @include responsive(laptop-l) {
        width: 100%;
      }

      @include responsive(mobile) {
        width: 100%;
      }
    }
  }

  .with-icons {
    overflow: hidden;
    // position: relative;
    @include responsive(tablet) {
      margin-top: 0;
    }

    &::before {
      content: " ";
      position: absolute;
      background-image: url(/images/regulation/A&R-Gradient.png);
      background-size: 100% 100%;
      width: 100%;
      height: 1545px;
      left: 0;
      margin-top: -152px;
      z-index: -1;

      @include responsive(mobile) {
        background-size: 170% 100%;
        background-position-x: -227px;
        width: 100%;
        height: 1245px;
        left: 0px;
        margin-top: -428px;
        z-index: -1;
      }
    }
  }
  .region-global {
    margin-top: -140px;

    @include responsive(tablet) {
      margin-top: 0;
    }
  }
  .more-resources {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          // width: 290px !important;
        }
      }
    }
  }
}

[lang="ja"] .regulation-page .more-resources.with-icons {
  margin-bottom: 15rem;

  @include responsive(mobile) {
    margin-bottom: 8.5rem;
  }
}

[lang="ja"] .regulation-page .banner-contact {
  p {
    display: none;
  }
}