.tradingAcc {
  .selectItem {
    display: none;

    @include responsive(mobile) {
      display: flex;
      margin-top: $size-6;
    }
  }

  .buttonsContainer {
    position: relative;
    width: fit-content;
    height: auto;
    display: flex;
    border-radius: $size-3;
    gap: $size-7;
    overflow: hidden;

    @include responsive(mobile) {
      display: none;
    }

    .buttonItem {
      position: relative;
      width: auto;
      background: transparent;
      border: none;
      height: 100%;
      padding: $size-10 0;
      transition: background-color 0.3s ease, color 0.3s ease;

      @extend .body-6;

      &.selected {
        // border-bottom: 2px solid white;
        @extend .body-6-bold;
      }
    }

    // .selected-border {
    //     position: absolute;
    //     width: $size-9;
    //     height: $size-1;
    //     bottom: 0;
    //     background: transparent;
    //     transition: width 0.3s ease, left 0.3s ease;
    //     display: flex;
    //     justify-content: space-evenly;

    //     .border-style{
    //         position: relative;
    //         width: 100%;
    //         max-width: $size-9;
    //         border-radius: $size-1;
    //         height: 100%;
    //         background-color: $secondary-900;
    //     }
    // }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $size-11 $size-5;
    justify-content: center;
    align-items: flex-start;
    gap: $size-8 $size-6;
    border-radius: $size-5;
    background-image: url(/images/TradingAccountsBG.png);
    background-size: 100% 100%;
    box-sizing: border-box;

    @include responsive(tablet) {
      display: none;
    }

    .items-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: $size-8 $size-4;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @include responsive(laptop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .card {
      display: flex;
      width: auto;
      height: 100%;
      min-height: 247px;
      background: $color-white;
      padding: 1.5rem 1.25rem;
      border-radius: $size-2;
      border: 1px solid $secondary-50;
      gap: $size-7;
      flex-direction: column;
      border-radius: 1.1875rem;
      border: 1px solid rgba(255, 255, 255, 0.42);
      background: linear-gradient(
        156deg,
        rgba(255, 255, 255, 0.5) 10.28%,
        rgba(255, 255, 255, 0) 106.66%
      );
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(20px);
      box-sizing: border-box;
      height: -webkit-fit-content;

      .content {
        display: flex;
        flex-direction: column;
        gap: $size-3;
        .title {
          color: $secondary-50;
        }
        .line {
          width: 100%;
          height: 1px;
          background-color: $secondary-50;
        }
        .desc {
          display: flex;
          justify-items: start;
          gap: $size-3;
          color: #ecf1f7;
          flex-direction: column;

          div {
            display: grid;
            grid-template-columns: 21px auto auto;
            gap: $size-1;
            align-items: center;
          }

          span {
            display: grid;
            height: 1.25rem;
            width: 1.25rem;
            background: $success-50;
            border-radius: 19.2px;
            font-size: 1rem;
            color: $success-500;
            align-items: center;
            justify-content: center;
          }

          .item p {
            color: $secondary-50;
          }

          p {
            color: $secondary-50;
            text-align: left;
          }
        }

        .futures {
          display: flex !important;
        }
      }
    }

    .disclaimer-cont {
      min-height: 47px;
      
      .disclaimer {
        color: $color-white;
      }
    }

    .second-button-small {
      border-color: $color-white;
      color: $color-white;

      &:hover {
        background-color: #263340; 
      }
    }
  }

  .container-slide {
    display: none;
    margin-top: $size-6;
    padding: $size-5;
    background-image: url(/images/TradingAccountsBG.png);
    background-size: 100% 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    padding-bottom: 100px;
    
    @include responsive(tablet) {
      display: block;
    }
    .swiperTrading {
      box-sizing: border-box;
      padding: $size-5 0;
      width: 100%;
      overflow: visible;

      .card {
        display: flex;
        width: auto;
        height: 100%;
        min-height: 329px;
        background: $color-white;
        padding: $size-9 $size-6;
        border-radius: $size-2;
        border: 1px solid $secondary-50;
        gap: $size-7;
        flex-direction: column;

        border-radius: 1.1875rem;
        border: 1px solid rgba(255, 255, 255, 0.42);
        background: linear-gradient(
          156deg,
          rgba(255, 255, 255, 0.5) 10.28%,
          rgba(255, 255, 255, 0) 106.66%
        );
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(20px);
        box-sizing: border-box;

        .content {
          display: flex;
          flex-direction: column;
          gap: $size-3;
          .title {
            color: $secondary-50;
          }
          .line {
            width: 100%;
            height: 1px;
            background-color: $secondary-50;
          }
          .desc {
            display: flex;
            justify-items: start;
            gap: $size-3;
            color: #ecf1f7;
            flex-direction: column;

            div {
              display: grid;
              grid-template-columns: 30px auto auto;
              gap: $size-1;
              align-items: center;
            }

            span {
              display: grid;
              height: 1.25rem;
              width: 1.25rem;
              background: $success-50;
              border-radius: 19.2px;
              font-size: 1rem;
              color: $success-500;
              align-items: center;
              justify-content: center;
            }

            .item p {
              color: $secondary-50;
            }

            p {
              color: $secondary-50;
              text-align: left;
            }
          }

          .futures {
            display: flex !important;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        bottom: -35%;
        right: 0;
        left: initial;
        top: initial !important;

        
      }

      .swiper-button-prev {
        right: initial;
        left: 0;
      }

      .swiper-button-next {
        left: 70px;
      }

      .swiper-button-prev::after {
        display: flex;
        font-family: "Material Symbols Outlined";
        content: "chevron_left";
        width: $size-13;
        height: $size-13;
        font-size: $size-6;
        border-radius: $size-19;
        background: $color-white;
        box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
        align-items: center;
        justify-content: center;

        @include responsive(laptop) {
          width: 2.75rem;
          height: 2.75rem;
        }
      }

      .swiper-button-next::after {
        display: flex;
        font-family: "Material Symbols Outlined";
        content: "chevron_right";
        width: $size-13;
        height: $size-13;
        font-size: $size-6;
        border-radius: $size-19;
        background: $color-white;
        box-shadow: 0px 18px 32px 0px rgba(21, 32, 42, 0.05);
        align-items: center;
        justify-content: center;

        @include responsive(laptop) {
          width: 2.75rem;
          height: 2.75rem;
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        overflow: visible;
        width: $size-13;
        height: $size-13;
        color: $secondary-600;
        display: inline-block;

        @include responsive(laptop) {
        }
      }
    }

    .second-button-small {
      border-color: $color-white;
      color: $color-white;

      &:hover {
        background-color: #263340; 
      }
    }
  }
}

[lang="zh"] .tradingAcc h2:nth-child(2) {
  display: none;
}
