.content-timetostart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @include responsive(tablet) {
    margin-top: 0;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 89px;
    align-items: center;

    @include responsive(laptop) {
      gap: 25px;
    }

    @include responsive(tablet) {
      grid-template-columns: 1fr;
    }

    .desc-seccion-mobile {
      display: none;

      @include responsive(tablet) {
        display: flex;
        flex-direction: column;
        gap: $size-4;
      }
    }

    img {
      width: 95%;
      height: auto;
      @include responsive(tablet) {
        max-width: 500px;
        margin: auto;
      }
    }

    .desc {
      h2 {
        display: block;
        width: 90%;
        margin-bottom: $size-8;
        @include responsive(tablet) {
          display: none;
        }
      }
      .desc-seccion {
        display: grid;
        gap: $size-4;
        width: 90%;

        p {
          display: block;
          color: $secondary-600;

          strong {
            color: $secondary-600;
          }
        }
      }
    }

    .card {
      display: flex;
      width: 100%;
      padding: 1.5rem;
      border-radius: $size-5;
      border: 1px solid $secondary-50;
      background: $color-white;
      margin-top: $size-5;
      box-sizing: border-box;

      @include responsive(mobile) {
        padding: $size-6 $size-5;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        margin: 0;
        padding-left: 18px;

        li {
          color: $secondary-600;
        }

        @include responsive(mobile) {
          gap: $size-5;

          li {
            font-size: 0.6875rem;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }
    }

    .disclaimer {
      margin-top: 0.5rem;
    }
    .text-text {
      margin-top: $size-5;
      color: $secondary-900;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }

    .buttons {
      margin-top: $size-5;
      display: flex;
      flex-direction: row;
      gap: $size-4;
      .primary-button-medium {
      }
      .second-button-medium {
      }
      @include responsive(mobile) {
        display: flex;
        flex-direction: column;
      }

      button {
        @include responsive(mobile) {
          width: 100%;
          padding: $size-4;
          font-size: 0.875rem;
          min-height: initial;
        }
      }
    }
  }
}
